block content
    h1= title
    if error
        p= error
    else
        p user ID: #{user.userId}
        p First Name: #{user.type}
        p Last Name: #{user.subject}
        p Stuff: #{user.description}
        p Stuff: #{user.priority}
        p Stuff: #{user.status}
        p Stuff: #{user.recipient}
        p Stuff: #{user.submitter}