block content
    h1= title
    if error
        p= error
    else
        p Ticket ID: #{user.userId}
        p Type: #{user.type}
        p Subject: #{user.subject}
        p Description: #{user.description}
        p Priority: #{user.priority}
        p Status: #{user.status}
        p Recipient: #{user.recipient}
        p Submitter: #{user.submitter}
        p Created: #{user.created_at}
        p Last Updated: #{user.updated_at}